h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.linkAsWrapper {
  text-decoration: none;
  color: unset;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .contentContainer {
    h1,
    p {
      padding: 0px 10px;
    }
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
  }
}

.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(66, 66, 255, 0.829);
  }
}

.beersList {
  max-width: 100vw;
  .beerItem {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 16px;
    .beerImg {
      height: 185px;

      flex: 1;
      padding: 0px 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .beerContent {
      flex: 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }
  }
}

.beerItemDetailed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 16px;
  .beerImg {
    height: 285px;
    padding: 0px 10px;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .beerContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .lighter {
      font-weight: 100;
    }
    .titleWrapper {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-weight: 300;
      }
    }
    .taglineWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 16px;
  input {
    border: 1px solid #dcd2d2;
    padding: 10px 10px;
    border-radius: 16px;
  }
  label{
    margin-left: 16px;
    font-weight: bold;
  }
  button{
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    color: white;
    background-color: rgb(0, 162, 255);
  }
}
